<?xml version="1.0"?>
<!-- 
 @version             $Id: config.xml 6413 2015-07-14 12:50:34Z anna $
 -->
<config>
  <modules>
    <Mpay24_Mpay24>
      <version>1.6.5</version>
    </Mpay24_Mpay24>
  </modules>

  <global>
    <events>
      <controller_action_postdispatch_adminhtml_system_config_save>
        <observers>
          <mpay24>
            <type>singleton</type>
            <class>mpay24/observer</class>
            <method>afterSave</method>
          </mpay24>
        </observers>
      </controller_action_postdispatch_adminhtml_system_config_save>
    </events>

    <models>
      <mpay24>
        <class>Mpay24_Mpay24_Model</class>
        <resourceModel>mpay24_mysql4</resourceModel>
      </mpay24>
      <mpay24_mysql4>
        <class>Mpay24_Mpay24_Model_Mysql4</class>
        <entities>
          <mpay24_debug><table>mpay24_debug</table></mpay24_debug>
        </entities>
      </mpay24_mysql4>
      <mpay24_entity>
        <class>Mpay24_Mpay24_Model_Entity</class>
      </mpay24_entity>
    </models>

    <blocks>
      <mpay24>
        <class>Mpay24_Mpay24_Block</class>
      </mpay24>
      <sales>
        <rewrite>
          <order_totals>Mpay24_Mpay24_Block_Sales_Order_Totals</order_totals>
          <order_invoice_totals>Mpay24_Mpay24_Block_Sales_order_Invoice_Totals</order_invoice_totals>
          <order_creditmemo_totals>Mpay24_Mpay24_Block_Sales_order_Creditmemo_Totals</order_creditmemo_totals>
        </rewrite>
      </sales>
      <adminhtml>
        <rewrite>
          <sales_totals>Mpay24_Mpay24_Block_Adminhtml_Sales_Totals</sales_totals>
          <sales_order_totals>Mpay24_Mpay24_Block_Adminhtml_Sales_order_Totals</sales_order_totals>
          <sales_order_invoice_totals>Mpay24_Mpay24_Block_Adminhtml_Sales_order_Invoice_Totals</sales_order_invoice_totals>
          <sales_order_creditmemo_totals>Mpay24_Mpay24_Block_Adminhtml_Sales_order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
    </blocks>
    <fieldsets>
      <sales_convert_quote_address>
        <payment_charge><to_order>*</to_order></payment_charge>
        <base_payment_charge><to_order>*</to_order></base_payment_charge>
        <payment_charge_type><to_order>*</to_order></payment_charge_type>
      </sales_convert_quote_address>
    </fieldsets>
        
    <helpers>
      <mpay24>
        <class>Mpay24_Mpay24_Helper</class>
      </mpay24>
    </helpers>

    <resources>
      <mpay24_setup>
        <setup>
          <module>Mpay24_Mpay24</module>
          <class>Mpay24_Mpay24_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </mpay24_setup>

      <mpay24_write>
        <connection>
          <use>core_write</use>
        </connection>
      </mpay24_write>
      <mpay24_read>
        <connection>
          <use>core_read</use>
        </connection>
      </mpay24_read>
    </resources>  

    <sales>
      <quote>
        <totals>
          <payment_charge>
            <class>mpay24/sales_quote_address_total_paymentcharge</class>
            <after>subtotal,discount,shipping,tax</after>
            <before>grand_total</before>
          </payment_charge>
        </totals>
      </quote>
      
      <order_invoice>
        <totals>
          <payment_charge>
            <class>mpay24/sales_order_invoice_total_paymentcharge</class>
            <after>subtotal,discount,shipping,tax</after>
            <before>grand_total</before>
          </payment_charge>
        </totals>
      </order_invoice>
      
      <order_creditmemo>
        <totals>
          <payment_charge>
            <class>mpay24/sales_order_creditmemo_total_paymentcharge</class>
            <after>subtotal,discount,shipping,tax</after>
            <before>grand_total</before>
          </payment_charge>
        </totals>
      </order_creditmemo>
    </sales>
    
    <pdf>
      <totals>
        <payment_charge translate="title">
          <title>Payment charge</title>
          <source_field>payment_charge</source_field>
          <amount_prefix></amount_prefix>
          <font_size>7</font_size>
          <display_zero>0</display_zero>
          <sort_order>500</sort_order>
        </payment_charge>
        <payment_discount translate="title">
          <title>Payment discount</title>
          <source_field>payment_discount</source_field>
          <amount_prefix>-</amount_prefix>
          <font_size>7</font_size>
          <display_zero>0</display_zero>
          <sort_order>500</sort_order>
        </payment_discount>
      </totals>
    </pdf>

<!--     <payment> -->
<!--       <groups> -->
<!--         <mpay24>mPAY24</mpay24> -->
<!--       </groups> -->
<!--     </payment> -->
  </global>

  <frontend>
    <secure_url>
      <mpay24_payment>/mpay24/payment</mpay24_payment>
    </secure_url>

    <routers>
      <mpay24>
        <use>standard</use>
        <args>
          <module>Mpay24_Mpay24</module>
          <frontName>mpay24</frontName>
        </args>
      </mpay24>
    </routers>

    <layout>
      <updates>
        <mpay24>
          <file>mpay24.xml</file>
        </mpay24>
      </updates>
    </layout>

    <translate>
      <modules>
        <Mpay24_Mpay24>
          <files>
            <default>Mpay24_Mpay24.csv</default>
          </files>
        </Mpay24_Mpay24>
      </modules>
    </translate>
  </frontend>

  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <mpay24 after="Mage_Adminhtml">Mpay24_Adminhtml</mpay24>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>

        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <mpay24>
                      <title>mPAY24 API</title>
                    </mpay24>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>

    <translate>
      <modules>
        <Mpay24_Mpay24>
          <files>
            <default>Mpay24_Mpay24.csv</default>
          </files>
        </Mpay24_Mpay24>
      </modules>
    </translate>
  </adminhtml>

  <default>
    <mpay24>
      <mpay24as>
        <active>1</active>
        <title>mPAY24</title>
        <system>Test</system>
        <merchantid backend_model="adminhtml/system_config_backend_encrypted"/>
        <old_merchantid />
        <soap_pass backend_model="adminhtml/system_config_backend_encrypted"/>
        <debug>0</debug>
        <!-- <sofort_state>SUSPENDED</sofort_state> -->
        <use_proxy>0</use_proxy>
        <use_proxy_auth>0</use_proxy_auth>
        <verify_peer>1</verify_peer>
        <allowed_ips>213.164.23.169,213.164.25.245,127.0.0.1</allowed_ips>
      </mpay24as>
      <mpay24sporder>
        <style>margin-left: auto; margin-right: auto; color:#647378</style>
        <logostyle></logostyle>
        <pageheaderstyle>background-color: #FFF;margin-bottom:14px;</pageheaderstyle>
        <pagecaptionstyle>background-color:#FFF;background:transparent;color:#647378;padding-left:0px;</pagecaptionstyle>
        <pagestyle>border:1px solid #838F93;background-color:#FFF;</pagestyle>
        <inputfieldsstyle>background-color:#ffffff;border:1px solid #DDE1E7;padding:2px 0px;margin-bottom:5px;</inputfieldsstyle>
        <dropdownlistsstyle>padding:2px 0px;margin-bottom:5px;</dropdownlistsstyle>
        <buttonsstyle>background-color: #005AC1;border: none;color: #FFFFFF;cursor: pointer;font-size:10px;font-weight:bold;padding:5px 10px;text-transform:uppercase;</buttonsstyle>
        <errorsstyle>background-color: #FFF;padding: 10px 0px;</errorsstyle>
        <successtitlestyle>background-color: #FFF;</successtitlestyle>
        <errortitlestyle>background-color: #FFF;</errortitlestyle>
        <footerstyle></footerstyle>
      </mpay24sporder>
      <mpay24spsc>
        <description></description>
        <sc_row>Description,Quantity,ItemPrice,Price</sc_row>
        <sc_style></sc_style>
        <sc_header></sc_header>
        <sc_headerstyle>background-color:#FFF;margin-bottom:14px;color:#647378</sc_headerstyle>
        <sc_captionstyle>background-color:#FFF;background:transparent;color:#647378;padding-left:0px;font-size:14px;</sc_captionstyle>
        <sc_numberheader></sc_numberheader>
        <sc_numberstyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_numberstyle>
        <sc_productnrheader></sc_productnrheader>
        <sc_productnrstyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_productnrstyle>
        <sc_descriptionheader></sc_descriptionheader>
        <sc_descriptionstyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_descriptionstyle>
        <sc_packageheader></sc_packageheader>
        <sc_packagestyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_packagestyle>
        <sc_quantityheader></sc_quantityheader>
        <sc_quantitystyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_quantitystyle>
        <sc_itempriceheader></sc_itempriceheader>
        <sc_itempricestyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_itempricestyle>
        <sc_priceheader></sc_priceheader>
        <sc_pricestyle>width:80px;background-color:#FFF;color:#647378;border: 1px solid #838F93;text-transform:uppercase;padding:5px;text-align:center;</sc_pricestyle>
        <item_style1>background-color: #FFF;color: #647378; border: 1px solid #838F93;text-align:center;padding:5px 0px;</item_style1>
        <item_style2>background-color: #FFF;color: #327F98; border: 1px solid #838F93;text-align:center;padding:5px 0px;</item_style2>
        <discount_headerstyle>background-color: #FFF; color: #647378;font-weight:normal;padding:3px;</discount_headerstyle>
        <discount_style>background-color:#FFF;color:#647378;border:none;padding:3px 20px;</discount_style>
        <shipping_costs_headerstyle>background-color: #FFF; color: #647378;font-weight:normal;padding:3px;</shipping_costs_headerstyle>
        <shipping_costs_style>background-color:#FFF;color:#647378;border:none;padding:3px 20px;</shipping_costs_style>
        <tax_headerstyle>background-color:#FFF;color: #647378;padding:3px;font-weight:normal;</tax_headerstyle>
        <tax_style>background-color:#FFF;color:#647378;border:none;font-weight:normal;padding:3px 20px;</tax_style>
        <price_header></price_header>
        <price_headerstyle>background-color:#FFF;color: #647378;padding:3px;font-weight:normal;border-top: 1px solid #838F93;</price_headerstyle>
        <price_style>background-color:#FFF;color:#005AC1;border:none;padding:4px;font-weight:bold;padding:3px 20px;font-size:14px;border-top: 1px solid #838F93;</price_style>
        <subtotal_header></subtotal_header>
        <subtotal_headerstyle>background-color:#FFF;color: #647378;padding:3px;font-weight:normal;</subtotal_headerstyle>
        <subtotal_style>background-color:#FFF;color:#647378;border:none;font-weight:normal;padding:3px 20px;</subtotal_style>
      </mpay24spsc>
      <mpay24>
        <payments_active>false</payments_active>
        <checkout_template>onepage</checkout_template>
        <billingAddressMode>ReadOnly</billingAddressMode>
        <show_free_products>0</show_free_products>
        <notifyForFalseNOK>0</notifyForFalseNOK>
      </mpay24>
    </mpay24>
    <payment>
      <mpay24>
        <model>mpay24/selectpayment</model>
        <active_payments></active_payments>
        <active_payment_types></active_payment_types>
        <payments_count>0</payments_count>
        <payments_error></payments_error>
        <payment_action>authorize</payment_action>
<!--         <paid_order_status>processing</paid_order_status> -->
<!--         <group>mpay24</group> -->
      </mpay24>
    </payment>
  </default>
</config>